<%-# Le show des différent information concernant le manga choisi sur la page d'acceuil %>
<div class="mangas">
  <h1><%= @mangas.name %></h1>

  <section class="row mangas">
    <div class="col-sm-4">
      <%= cl_image_tag(@mangas.photo, width: 300, height: 200, crop: :fill) %>
    </div>
    <div class="col-sm-8">
      <p>
        Auteur :
        <%= @mangas.athor %>
      </p>
      <p>
        Synopsys :
        <%= @mangas.synopsys %>
      </p>
      <p>
        Nombre Tomes :
        <%= @mangas.nb_tome %>
      </p>
    </div>
  </section>
  <%- @tomes.each do |tome| -%>
    <section class="row tomes">
      <div class="col-md-6 offset-md-3">
        <h2>
          Tome :
          <%= tome.number %>
          :
          <%= link_to(tome.name, tome_path(tome)) %>
        </h2>
      </div>
    </section>
  <% end %>
</div>
