<div class = "mangas">
  <h1><%= @mangas.name %></h1>

  <section class = "row mangas">
    <div class = "col-sm-4">
      <%= cl_image_tag(@mangas.photo, width: 300, height: 200, crop: :fill, class: "picture") %>
    </div>
    <div class = "col-sm-8">
      <p>
        Autheur : <%= @mangas.athor %>
      </p>
      <p>
        Synopsys : <%= @mangas.synopsys %>
      </p>
      <p>
        Nombre Tomes : <%= @mangas.nb_tome %>
      </p>
    </div>
  </section>
</div>
